﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - web_demo_cong_viec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
</head>

<body class="bg">
    <header>
        @* header-top *@
        <div class="header-top">
            <div class=" container d-flex align-items-center justify-content-between">

                <div class="header-top-left">
                    <ul class="header-top-left-list d-flex align-items-center my-2">
                        <li class="header-top-left-list-item me-3">
                            <a href="">
                                <img class="header-top-left-list-item header-bird" style="width: 23.5px; height: 14.5px"
                                    src="@Url.Content("~/images/icon/header-bird.png")" alt="ERROR">
                            </a>
                        </li>

                        <li class="header-top-left-list-item me-3">
                            <a href="">
                                <img style="width: 14.5px; height: 14.5px"
                                    src="@Url.Content("~/images/icon/header-camera.png")" alt="ERROR">
                            </a>
                        </li>

                        <li class="header-top-left-list-item me-3">
                            <a href="">
                                <img style="width: 7px; height: 13.5px"
                                    src="@Url.Content("~/images/icon/header-facebook.png")" alt="ERROR">
                            </a>
                        </li>

                        <li class="header-top-left-list-item me-3">
                            <a href="">
                                <img style="width: 11px; height: 13.5px"
                                    src="@Url.Content("~/images/icon/header-tiktok.png")" alt="ERROR">
                            </a>
                        </li>

                        <li class="header-top-left-list-item me-3">
                            <a href="">
                                <img style="width: 13px; height: 13.5px"
                                    src="@Url.Content("~/images/icon/header-whatsapp.png")" alt="ERROR">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-top-right">
                    <ul class="header-top-right-list d-flex align-items-center">
                        <li class="header-top-right-list-item me-3">
                            @* phone Icon *@
                            <a href="" class="item-link-header link-underline link-underline-opacity-0 text-light"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="bi bi-telephone text-light"></i> (+84) 878 337 339
                            </a>
                        </li>

                        <li class="header-top-right-list-item me-3">
                            @* email Icon *@
                            <i class="bi bi-envelope text-light"></i>

                            <a href="" class="item-link-header link-underline link-underline-opacity-0 text-light"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                                operator@catbacatamaran.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @* Navigation bar *@
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                @* Logo *@
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img style="width: 253.5px; height: 40px"
                        src="@Url.Content("~/images/logo/catba-cataraman-dark.png")" alt="ERROR">
                </a>

                @* Toggle *@
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end offcanvas-menu" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close m-0" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link nav-link-text me-3" asp-area="" asp-page="/Index">HOME</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link nav-link-text me-3" asp-area="" asp-page="/Cruise">THE CRUISE </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link nav-link-text me-3" asp-area="" asp-page="/Itinerary">ITINERARY</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link nav-link-text me-3" asp-area="" asp-page="/ContactUs">CONTACT US</a>
                            </li>

                            <li class="nav-item pt-2">
                                <a class="nav-link btn-book-now text-light" asp-area="" asp-page="/BookNow">BOOK NOW</a>
                            </li>

                            <li class="nav-item">
                                <div class="offcanvas-content mx-2">
                                    <hr id="custom-color">

                                    @* Icon List *@
                                    <div>
                                        <ul class="offcanvas-content-list d-flex align-items-center my-2">
                                            <li class="offcanvas-content-list-item me-3">
                                                <a href="">
                                                    <img src="@Url.Content("~/images/icon/header-bird-dark.png")"
                                                        alt="ERROR">
                                                </a>
                                            </li>

                                            <li class="offcanvas-content-list-item me-3">
                                                <a href="">
                                                    <img src="@Url.Content("~/images/icon/header-camera-dark.png")"
                                                        alt="ERROR">
                                                </a>
                                            </li>

                                            <li class="offcanvas-content-list-item me-3">
                                                <a href="">
                                                    <img src="@Url.Content("~/images/icon/header-facebook-dark.png")"
                                                        alt="ERROR">
                                                </a>
                                            </li>

                                            <li class="offcanvas-content-list-item me-3">
                                                <a href="">
                                                    <img src="@Url.Content("~/images/icon/header-tiktok-dark.png")"
                                                        alt="ERROR">
                                                </a>
                                            </li>

                                            <li class="offcanvas-content-list-item me-3">
                                                <a href="">
                                                    <img src="@Url.Content("~/images/icon/header-whatsapp-dark.png")"
                                                        alt="ERROR">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div>
                                        <ul class="offcanvas-content-list my-2">
                                            <li class="offcanvas-content-list-item me-3">
                                                @* Phone Number *@
                                                <img class="me-2 mb-3"
                                                    src="@Url.Content("~/images/icon/header-phone-tertiary.png")"
                                                    alt="ERROR">

                                                <a class="item-link-header link-underline link-underline-opacity-0 text-dark"
                                                    href="#">
                                                    (+84) 878 337 339
                                                </a>
                                            </li>

                                            <li class="offcanvas-content-list-item me-3">
                                                @* Email info *@
                                                <img class="me-2"
                                                    src="@Url.Content("~/images/icon/header-email-tertiary.png")"
                                                    alt="ERROR">

                                                <a class="item-link-header link-underline link-underline-opacity-0 text-dark"
                                                    href="#">
                                                    operator@catbacatamaran.com
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @* Chat *@
    <div class="chat-container">
        <div class="chat-icon dropstart">
            <div data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@Url.Content("~/images/icon/chat-messenger-light.png")" height="85%" width="85%">
                <ul class="dropdown-menu menu-1">
                    <div class="row g-0 menu-1-head">
                        <div class="col-3" id="helper-pic">
                            <img src="@Url.Content("~/images/icon/chat-miss-lizzy-green.png")" height="40px"
                                width="40px">
                        </div>
                        <div class="col-9" id="widgets">
                            <span class="widget-container"><i class="bi bi-three-dots"></i></span>
                            <span class="widget-container"><i class="bi bi-dash-lg"></i></span>
                        </div>
                    </div>
                    <div class="menu-1-body">
                        <div class="head-1">Chat with Catba Catamaran</div>
                        <div class="body-1">Hi! How can we help you?</div>
                        <button class="button-27">Start chat</button>
                        <div style="text-align: center;">
                            <img src="@Url.Content("~/images/icon/chat-messenger-dark.png")" height="15px" width="15px">
                            <span>Powered by messenger</span>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="chat-icon dropstart">
            <div data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@Url.Content("~/images/icon/chat-whatsapp.png")" height="90%" width="90%">
                <ul class="dropdown-menu menu-2">
                    <div class="row g-0">
                        <div class="col-3" id="helper-pic">
                            <img src="@Url.Content("~/images/icon/chat-miss-lizzy-orange.png")" height="40px"
                                width="40px">
                        </div>
                        <div class="col-9">
                            <div id="chat-head">Ms. Lizzy</div>
                            <a href="" id="chat-num">043 797 0529</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="chat-icon">
            <img src="@Url.Content("~/images/icon/chat-phone.png")" height="70%" width="70%">
        </div>
    </div>

    @* Body *@
    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-2">
            <div class="row g-4 master-container">
                <div class="col-sm-4 smol-footer-text">
                    <img src="@Url.Content("~/images/logo/catba-catamaran-light.png")" width="253.5px" height="40px">
                    <div class="footer-smol-texts"><i class="bi bi-geo-alt-fill" style="color: #002E3B;"></i> Cat Ba
                        Office: Group 1 Dap Nuoc, 6th Ha Sen, Cat Ba town, Cat Ba Island</div>
                    <div class="footer-smol-texts"><i class="bi bi-telephone" style="color: #002E3B;"></i> (+84)
                        354227768</div>
                    <div class="footer-smol-texts"><i class="bi bi-envelope" style="color: #002E3B;"></i>
                        operator@catbacatamaran.com</div>
                </div>
                <div class="col-sm-5">
                    <div class="row g-4">
                        <div class="col-sm-6 montserrat collumn-2">
                            <div class="patt"><a class="pat1" href="#">HOME</a></div>
                            <div class="patt"><a class="pat2" href="#">THE SHIP</a></div>
                            <div class="patt"><a class="pat2" href="#">ITINERARY</a></div>
                            <div class="patt"><a class="pat2" href="#">CONTACT US</a></div>
                        </div>
                        <div class="col-sm-6 montserrat collumn-3">
                            <div class="patt"><a class="pat2" href="#">FOLLOW US</a></div>
                            <div class="row g-2">
                                <div class="col-sm-3">
                                    <a href="#"><img src="@Url.Content("~/images/icon/footer-camera.png")" width="40px"
                                            height="40px"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#"><img src="@Url.Content("~/images/icon/footer-facebook.png")"
                                            width="40px" height="40px"></a>
                                </div>
                            </div>
                            <div class="row g-2" style="margin-top: 1px;">
                                <div class="col-sm-3">
                                    <a href="#"><img src="@Url.Content("~/images/icon/footer-tiktok.png")" width="40px"
                                            height="40px"></a>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#"><img src="@Url.Content("~/images/icon/footer-whatsapp.png")"
                                            width="40px" height="40px"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="montserrat">SUBSCRIBE TO OUR NEWSLETTER</div>
                    <div style="font-size: 13px; margin: 5px 0;">Join our community now – subscribe for exclusive
                        updates and offers</div>
                    <div class="input-group mb-3 modified-input-footer">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="Username">
                    </div>
                    <div class="input-group mb-3 modified-input-footer">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Mail" aria-label="Mail"
                            aria-describedby="Mail">
                    </div>
                    <a href="#">
                        <div style="text-align: center;" class=" montserrat subscribe">SUBSCRIBE</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-1">
            <div class="row g-0">
                <div class="col-sm-6" id="left-foot">
                    <div>2024 The One Island Escape, All rights reserved. </div>
                </div>
                <div class="col-sm-6" id="right-foot">
                    <div style="font-size: 16px;">Powered by: <span><svg width="100px" height="50px"
                                viewBox="0 0 818 180" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M213.848 118.488V44.4783C213.848 40.1546 217.284 36.7212 221.74 36.7212C226.068 36.7212 229.505 40.1546 229.505 44.4783V112.13H269.857C273.803 112.13 276.985 115.309 276.985 119.251C276.985 123.193 273.803 126.372 269.857 126.372H221.74C217.284 126.372 213.848 122.939 213.848 118.488Z"
                                    fill="#0091FF" />
                                <path
                                    d="M321.586 127.898C301.091 127.898 285.944 112.257 285.944 93.1824V92.9281C285.944 73.7262 301.219 57.8306 321.84 57.8306C342.462 57.8306 357.61 73.4719 357.61 92.6738V92.9281C357.61 112.003 342.335 127.898 321.586 127.898ZM321.84 114.419C334.315 114.419 342.207 104.754 342.207 93.1824V92.9281C342.207 81.1018 333.679 71.3101 321.586 71.3101C309.238 71.3101 301.346 80.9746 301.346 92.6738V92.9281C301.346 104.627 309.875 114.419 321.84 114.419Z"
                                    fill="#0091FF" />
                                <path
                                    d="M403.21 146.973C393.79 146.973 385.389 144.939 377.242 140.996C374.569 139.979 372.914 137.817 372.914 134.893C372.914 131.459 375.842 128.534 379.406 128.534C380.552 128.534 381.443 128.789 382.206 129.17C388.316 132.604 395.063 134.511 402.828 134.511C416.576 134.511 424.086 127.39 424.086 113.91V108.697C418.485 115.945 411.484 121.032 400.409 121.032C384.625 121.032 369.859 109.332 369.859 89.6218V89.3675C369.859 69.5297 384.752 57.8306 400.409 57.8306C411.738 57.8306 418.74 63.0443 423.959 69.2754V66.0963C423.959 61.8998 427.396 58.4664 431.596 58.4664C435.924 58.4664 439.361 61.8998 439.361 66.2235V112.639C439.361 123.956 436.433 132.349 430.833 137.944C424.722 144.048 415.303 146.973 403.21 146.973ZM404.483 107.934C415.175 107.934 424.213 100.431 424.213 89.4946V89.2403C424.213 78.3041 415.175 70.8014 404.483 70.8014C393.79 70.8014 385.389 78.177 385.389 89.2403V89.4946C385.389 100.431 393.917 107.934 404.483 107.934Z"
                                    fill="#0091FF" />
                                <path
                                    d="M458.442 41.935V41.172C458.442 36.594 462.261 33.6692 467.226 33.6692C472.19 33.6692 476.009 36.594 476.009 41.172V41.935C476.009 46.5129 472.19 49.5649 467.226 49.5649C462.261 49.5649 458.442 46.5129 458.442 41.935ZM459.588 119.378V66.2235C459.588 61.8998 462.898 58.4664 467.226 58.4664C471.554 58.4664 474.99 61.8998 474.99 66.2235V119.378C474.99 123.702 471.554 127.008 467.226 127.008C463.025 127.008 459.588 123.702 459.588 119.378Z"
                                    fill="#0091FF" />
                                <path
                                    d="M518.16 127.644C509.631 127.644 500.339 124.974 492.574 119.633C490.919 118.743 489.646 116.835 489.646 114.292C489.646 110.858 492.319 108.061 495.884 108.061C497.156 108.061 498.302 108.442 499.193 108.951C505.685 113.274 512.432 115.436 518.542 115.436C525.161 115.436 528.98 112.639 528.98 108.188V107.934C528.98 102.72 521.851 100.939 513.959 98.5233C504.03 95.7257 492.956 91.6564 492.956 78.8128V78.5585C492.956 65.842 503.521 58.0849 516.887 58.0849C524.015 58.0849 531.526 60.1195 538.018 63.553C540.182 64.6975 541.709 66.7321 541.709 69.4026C541.709 72.9632 538.909 75.6337 535.345 75.6337C534.072 75.6337 533.308 75.3793 532.29 74.8707C526.816 72.073 521.215 70.2927 516.505 70.2927C510.522 70.2927 507.085 73.0904 507.085 76.9053V77.1596C507.085 82.1191 514.341 84.1537 522.233 86.697C532.035 89.749 543.109 94.1997 543.109 106.28V106.535C543.109 120.65 532.162 127.644 518.16 127.644Z"
                                    fill="#0091FF" />
                                <path
                                    d="M580.179 127.517C568.85 127.517 560.83 122.558 560.83 107.806V72.4545H558.284C554.593 72.4545 551.665 69.5297 551.665 65.842C551.665 62.1542 554.593 59.2294 558.284 59.2294H560.83V47.7845C560.83 43.5881 564.267 40.1546 568.595 40.1546C572.796 40.1546 576.233 43.5881 576.233 47.7845V59.2294H588.326C592.017 59.2294 595.072 62.1542 595.072 65.842C595.072 69.5297 592.017 72.4545 588.326 72.4545H576.233V105.39C576.233 111.367 579.288 113.783 584.507 113.783C586.289 113.783 587.816 113.402 588.326 113.402C591.762 113.402 594.818 116.199 594.818 119.76C594.818 122.558 592.908 124.846 590.744 125.737C587.435 126.881 584.252 127.517 580.179 127.517Z"
                                    fill="#0091FF" />
                                <path
                                    d="M619.701 88.0958H654.198C653.18 78.177 647.324 70.4199 637.141 70.4199C627.721 70.4199 621.102 77.6683 619.701 88.0958ZM663.109 118.997C656.999 124.465 649.361 127.898 638.923 127.898C619.447 127.898 604.426 113.783 604.426 93.0552V92.8009C604.426 73.599 618.047 57.8306 637.268 57.8306C658.653 57.8306 669.219 75.3793 669.219 90.8934C669.219 95.2171 665.909 98.269 661.963 98.269H619.829C621.484 109.205 629.248 115.309 639.177 115.309C645.669 115.309 650.761 113.02 655.089 109.46C656.235 108.569 657.253 108.061 659.035 108.061C662.472 108.061 665.145 110.731 665.145 114.292C665.145 116.199 664.254 117.852 663.109 118.997Z"
                                    fill="#0091FF" />
                                <path
                                    d="M716.001 127.898C696.016 127.898 681.25 112.257 681.25 93.1824V92.9281C681.25 73.8534 696.016 57.8306 716.256 57.8306C726.821 57.8306 734.077 61.264 739.805 66.2235C740.823 67.1136 742.224 69.0211 742.224 71.5644C742.224 75.5065 739.041 78.5585 735.095 78.5585C733.186 78.5585 731.531 77.7955 730.513 77.0325C726.566 73.7262 722.239 71.3101 716.128 71.3101C704.927 71.3101 696.652 80.9746 696.652 92.6738V92.9281C696.652 104.882 704.927 114.419 716.765 114.419C722.875 114.419 727.585 112.003 731.785 108.442C732.677 107.679 734.204 106.789 735.986 106.789C739.678 106.789 742.605 109.841 742.605 113.529C742.605 115.563 741.842 117.217 740.441 118.361C734.459 124.083 727.203 127.898 716.001 127.898Z"
                                    fill="#0091FF" />
                                <path
                                    d="M757.663 119.378V40.5361C757.663 36.3397 760.973 32.9062 765.301 32.9062C769.629 32.9062 773.065 36.3397 773.065 40.5361V69.5297C777.393 63.2987 783.631 57.8306 794.069 57.8306C809.217 57.8306 818 68.0038 818 83.5179V119.378C818 123.702 814.69 127.008 810.362 127.008C806.035 127.008 802.598 123.702 802.598 119.378V88.223C802.598 77.7955 797.379 71.8187 788.213 71.8187C779.303 71.8187 773.065 78.0498 773.065 88.4773V119.378C773.065 123.702 769.629 127.008 765.301 127.008C761.1 127.008 757.663 123.702 757.663 119.378Z"
                                    fill="#0091FF" />
                                <path
                                    d="M117.625 0H62.557C28.0077 0 0 27.9794 0 62.4937V117.506C0 152.021 28.0077 180 62.557 180H117.625C152.175 180 180.182 152.021 180.182 117.506V62.4937C180.182 27.9794 152.175 0 117.625 0Z"
                                    fill="#0091FF" />
                                <path
                                    d="M131.986 119.021C132.819 119.021 133.489 119.677 133.489 120.483C133.489 135.107 118.662 145.084 106.742 145.084H46.6903L89.9955 34.9093C96.9116 34.8703 103.828 34.8378 110.744 34.7988C113.483 34.9223 115.799 36.4757 116.599 38.6986C117.217 40.421 116.729 42.0004 116.515 42.5983C107.725 68.0703 98.935 93.5487 90.1516 119.021H131.986Z"
                                    fill="white" />
                            </svg></span></div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>